{{!-- <div class="mt-4">
    <div class="row">
        <div class="col-sm-6 col-lg-4" >
            <div class="card-item">
                <img class="card-img-top" src="{{hotpot.image}}" alt="{{hotpot.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{hotpot.name}}</h5>
                    <p class="card-text">Description: {{hotpot.description}}</p>
                    <p class="card-text">Price: {{hotpot.price}}</p>
                    <a href="/hotpots/{{this.slug}}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<div class='all-page-title page-breadcrumb'>
    <div class='container text-center'>
        <div class='row'>
            <div class='col-lg-12'>
                <h1>Nhúng là mê, ăn là ghiền</h1>
            </div>
        </div>
    </div>
</div>
<form method='POST' action='/cart/hotpot/{{hotpot.slug}}'>
    <div class='container' style='margin-top: 100px;'>
        <div class='col-xs-12 bootstrap snippets bootdeys'>
            <!-- product -->
            <div class='product-content product-wrap clearfix'>
                <div class='row'>
                    <div class='col-md-5 col-sm-12 col-xs-12'>
                        <div class='product-image'>
                            <img
                                src='{{hotpot.image}}'
                                alt='{{hotpot.name}}'
                                class='img-responsive'
                            />
                            {{! <span class='tag2 hot'>
                                HOT
                            </span> }}
                        </div>
                    </div>
                    <div class='col-md-7 col-sm-12 col-xs-12'>
                        <div class='product-deatil'>
                            <h5 class='name'>
                                <a href='#'>
                                    {{hotpot.name}}
                                    {{! <span>Category</span> }}
                                </a>
                            </h5>
                            <p class='price-container'>
                                <span>{{hotpot.price}} VNĐ</span>
                            </p>
                            <span class='tag1'></span>
                        </div>
                        <div class='description'>
                            <p>{{hotpot.description}}</p>
                        </div>
                        <div class='product-info smart-form'>
                            <div class='row'>
                                <div class='col-md-6 col-sm-6 col-xs-6'>
                                    <div class='buttons_added'>
                                        <input
                                            aria-label='quantity'
                                            class='input-qty'
                                            max='100'
                                            min='1'
                                            name='quantity'
                                            type='number'
                                            value='quantity'
                                            style='margin-left: 4%;'
                                        />
                                    </div>
                                    <button
                                        onclick='btnTB()'
                                        type='submit'
                                        class='btn'
                                        style='background-color: #d65106; color:aliceblue; margin-top: 20px;'
                                    >Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end product -->
        </div>
    </div>
</form>

<script>
    function btnTB(){ alert('Bạn đã thêm thành công'); }
</script>